<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.nferguson.alfred.imgur-alfred</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>406860CE-4324-46C4-B8D6-150A61C4620E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55711A21-A15C-4BCD-B50E-4E560E23B21B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55711A21-A15C-4BCD-B50E-4E560E23B21B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED7BD43B-567A-41D3-B02C-A1475854EBFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D697316F-93A5-459A-93CF-0D4E6FCF45E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55711A21-A15C-4BCD-B50E-4E560E23B21B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED7BD43B-567A-41D3-B02C-A1475854EBFB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A12AC58E-63B1-4287-8BD4-F06BA992E49F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nick Ferguson</string>
	<key>description</key>
	<string>Upload an image to imgur</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Imgur-Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>imgup</string>
				<key>subtext</key>
				<string>URL will be copied to clipboard</string>
				<key>text</key>
				<string>Upload Image to Imgur</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>406860CE-4324-46C4-B8D6-150A61C4620E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python imgur.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>55711A21-A15C-4BCD-B50E-4E560E23B21B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>ED7BD43B-567A-41D3-B02C-A1475854EBFB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Image Uploaded At:</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A12AC58E-63B1-4287-8BD4-F06BA992E49F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Upload to Imgur</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>D697316F-93A5-459A-93CF-0D4E6FCF45E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>406860CE-4324-46C4-B8D6-150A61C4620E</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>55711A21-A15C-4BCD-B50E-4E560E23B21B</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>A12AC58E-63B1-4287-8BD4-F06BA992E49F</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>D697316F-93A5-459A-93CF-0D4E6FCF45E0</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>ED7BD43B-567A-41D3-B02C-A1475854EBFB</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://blog.nickopotamus.net</string>
</dict>
</plist>
